

.table-wrapper {
  flex: 1 1 300px;
  box-sizing: border-box;
  padding:0 20px;
  table {
    width: 100%;
    margin: auto;
    th {
      padding:10px;
      border-bottom: 1px solid #000;
      &.red {
        color: #8c3a07;
      }
    }
    td {
      padding: 10px;
    }
  }
}

.sports-list {
  width:300px;
  background: #283338;
  min-height: 100px;
  padding:0;
  list-style-type: none;
  margin: 0;
  color:#fff;
  font-size: 12px;

  flex-shrink: 1;
  flex-basis: 300px;
}

.tree-block {


  .sport-item {
    cursor: pointer;
    padding: 10px;
    span {
      display: inline-block;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        width: 70%;

      }
      &:last-child {
        width: 28%;
        text-align: right;
        padding-right: 5px;
      }
    }
  }

  .country-list {

    background: #323e45;
    .country-item {
      padding: 10px 10px 5px 15px;
    }
  }
  .leagues-list {
    background: #384750;
    .league-item{
      padding: 10px 10px 5px 30px;
    }
  }
  .country-list, .leagues-list {
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;

    span {
      display: inline-block;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        width: 70%;

      }
      &:last-child {
        width: 28%;
        text-align: right;
        padding-right: 5px;
      }
    }
  }

}