<div class="container">

    <ul class="sports-list">
        <li *ngFor="let item of tree | sortPriority">
            <app-tree-item [setData]="item" (onSelected)="selectedItem($event)"></app-tree-item>

        </li>

    </ul>

    <div class="table-wrapper" >
       <table cellpadding="0" border="0" cellspacing="0">
           <tr>
               <th>Date</th>
               <th>Pairs</th>
               <th class="red">1</th>
               <th class="red">X</th>
               <th class="red">2</th>

               <th class="red">1X</th>
               <th class="red">12</th>
               <th class="red">X2</th>

               <th class="red">(0)1</th>
               <th class="red">(0)2</th>


               <th class="red">Yes</th>
               <th class="red">No</th>

               <th class="red">Under</th>
               <th class="red">Over</th>
           </tr>
           <tr *ngFor="let match of matches">
               <td>{{ match.sd | date:"d.M.y" }}</td>
               <td>{{ match.h }} - {{ match.a }}</td>

               <td>{{ match.data | empty: "1" }}</td>
               <td>{{ match.data | empty: "X" }}</td>
               <td>{{ match.data | empty: "2" }}</td>

               <td>{{ match.data | empty: "1X" }}</td>
               <td> {{ match.data | empty: "12" }}</td>
               <td>{{ match.data | empty: "X2" }}</td>

               <td>{{ match.data | empty: "01" }}</td>
               <td>{{ match.data | empty: "02" }}</td>

               <td>{{ match.data.Yes.value }}</td>
               <td>{{ match.data.No.value }}</td>

               <td>{{ match.data | empty: "Under" }}</td>
               <td>{{ match.data | empty: "Over" }}</td>
           </tr>
       </table>
    </div>

</div>

<notice [setError]="error"></notice>